.page--startup {
  .page__logo {
    left: columnLeft(3);
    top: -58px;
    width: columnWidth(6);
  }

  .page--startup__box {
    background: $color-white;
    border: 8px solid $color-purple;
    border-radius: 48px;
    font-weight: 400;
    left: columnLeft(0);
    line-height: 1.5;
    padding: 24px 32px;
    position: absolute;
    text-align: center;
    top: 300px;
    width: columnWidth(3);

    &.op--right {
      left: columnLeft(9);
    }

    .page--startup__box__header {
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 2px;
      line-height: 1.125;
      margin-bottom: 16px;
      text-shadow: 0 2px $color-purple;
      text-transform: uppercase;
    }

    ul {
      li {
        font-size: 20px;
        line-height: 1.125;
        list-style-type: none;
        margin-bottom: 24px;
        padding-left: 56px;
        position: relative;
        text-align: left;

        &::after {
          align-items: center;
          background: $color-purple;
          border-radius: 50%;
          border: 2px solid $color-black;
          box-shadow: 0 0 0 2px $color-white inset;
          color: $color-white;
          content: "1";
          display: flex;
          font-size: 16px;
          font-weight: 900;
          height: 40px;
          justify-content: center;
          left: 0;
          position: absolute;
          text-align: center;
          top: 0;
          width: 40px;
        }

        &:nth-child(2) {
          &::after {
            content: "2";
          }
        }

        &:nth-child(3) {
          &::after {
            content: "3";
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .page--startup__content {
    font-weight: 400;
    left: columnLeft(3);
    position: absolute;
    text-align: center;
    top: 320px;
    width: columnWidth(6);
  }

  .page--startup__policy {
    bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    left: 32px;
    line-height: 1.125;
    position: absolute;
    text-align: left;
    width: columnWidth(4);
  }

  .page--startup__button {
    left: columnLeft(3);
    position: absolute;
    text-align: center;
    top: 800px;
    width: columnWidth(6);
  }

  .page--startup__twitch-connection {
    height: 92px;
    left: columnLeft(9);
    position: absolute;
    top: 820px;
    width: columnWidth(3);

    .icon--loading {
      background: transparent url("../images/loading.gif") no-repeat center center;
      background-size: cover;
      content: "";
      display: block;
      height: 80px;
      left: 50%;
      margin: -40px 0 0 -40px;
      opacity: 0.15;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      text-indent: -9999px;
      top: 50%;
      transition: opacity 0.5s ease;
      width: 80px;
    }
  }
}
